<p>
    <strong>
        This Privacy Policy applies to the Android app users of (myeAccounts) an
        accounting app of LKIN AUTOMATION TECHNOLOGY PVT. LTD
    </strong>
    .<strong></strong>
</p>
<p>
    We recognizes the importance of maintaining your policy. We value your
    privacy and appreciate your trust in us. This policy describes how we treat
    user information we collect in our app. This privacy policy to current and
    former users. By registering and/or using our app or website , you agree to
    this privacy policy. myeAccounts website and its android app are a property
    of LKIN AUTOMATION TECHNOLOGY PVT. LTD. Company.
</p>
<p>
    <strong>Permissions You Grant To Us</strong>
</p>
<p>
    Camera to take the picture of the bills etc to be attached with
    transactions.
</p>
<p>
    Contact to auto fill the detail during party creation.
</p>
<p>
    Sms to send automatic message or remainder message to your parties if
    transaction message is enabled or you send the remainder to your party for
    payment.
</p>
<p>
    Storage to send automatic message or reminder message to your parties if
    transaction message is enabled or you send the reminder to your party for
    payment.
</p>
<p>
    Telephone to help you make call to your party directly from within the app.
</p>
<p>
    Location to customize the app according to your region.
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Information We Collect</strong>
</p>
<p>
    Contact information . we might collect your name, email, mobile number,
    device id (imei no), phone number
    registration/activation/purchase/transaction/date, street, city, state,
    pincode, country and ip address.
</p>
<p>
    Payment and billing information. We might collect your billing name,
    billing address and payment method when you by an app pr add-on or software
    or solution. We Never collect your credit card number or credit card expiry
    date or other detail pertaining to your credit card on our website. Credit
    card information will be obtained and processed by our online payment
    partner.
</p>
<p>
    We collect information directly from you. We collect information directly
    from you when you place order for or buy add-on or app software or
    solution. We also collect information if you post a comment on our website
    or ask us a question through phone or email.
</p>
<p>
    We collect information from you passively. We use tracking tools like
    Google Analytics, Google Webmaster, Google ad words, Google ad words
    Express, browser cookies and web beacons for collecting information about
    your usage of our apps/website.
</p>
<p>
    <strong>Use Of Your Personal Information</strong>
</p>
<p>
    We use information to contact you : we might use the information you
    provide to contact you for confirmation of a purchase on our website or for
    other promotional purpose.
</p>
<p>
    We use information to respond to your request or question. We might use
    your information to confirm your order or purchase or specification for
    your typical needs.
</p>
<p>
    We use information to improve your products and services. We might use your
    information to customize your experience with us. This could include
    displaying content based upon your preference. We use information to look
    at site trends and customer interests. We may use your information to make
    our website and products better. We may combine information we get from you
    with information about you we get from third parties.
</p>
<p>
    We use information for security purpose. We may use information to protect
    our company, our customers, or our websites.
</p>
<p>
    We use information for making purpose. We might send you information about
    special promotions or offers. We might also tell you about new features or
    products. These might be our own offers or products, or products we think
    you might find interesting. Or for example, If you buy add-on from us we
    enroll you in our mobile app promo list or newsletter.
</p>
<p>
    We use information to send you transactional communications. We might send
    you emails or sms or gcm notification about your account or an order or a
    purchase or promo. We use information as otherwise permitted by law.
</p>
<p>
    <strong>Sharing Of Information With Third-Parties</strong>
</p>
<p>
    We will share information with third parties who perform service on our
    behalf. We share information with vendors who helps us manage our online
    registration process or payment processors or transactional massage
    processors. Some vendors may be located outside of India.
</p>
<p>
    We may share information if we think we have to in order to comply with the
    law or protect ourselves. We will share information to response to a court
    order or subpoena. We may also share it a government agency or
    investigatory body requests, or, we might also share information when we
    are investigating potential fraud.
</p>
<p>
    We may share your information for reason not described in this policy. We
    will tell you before we do this.
</p>
<p>
    You can opt out of receiving our marketing emails. To stop receiving our
    promotional emails, please email    <a href="mailto:unsubscribe@mbilling.in">unsubscribe@mbilling.in</a> It may
    take about ten days to process your request. Even if you opt out of getting
    marketing messages, we will still be sending your transactional message
    through email and sms about your purchase or orders.
</p>
<p>
    We will never sell your personal information outside the application with a
    third party , especially your email address and phone numbers without your
    express permission, unless required by law Never Ever.
</p>
<p>
    If you have any question about this policy or other privacy concern, you
    can also email us at    <a href="mailto:support@mbilling.in">support@mbilling.in</a> Updates to
    this policy.
</p>
<p>
    This privacy policy was last updated on 08/01/2018. From time to time we
    may change our privacy practices. We will notify you of any material
    changes to this policy as required by law. We will also post an update copy
    on our website. Please check our site periodically for updates.
</p>
<p>
    <strong>Cancellation/Refund Policy</strong>
</p>
<p>
    1. If user is not satisfied with the product or service and want to
    discontinue, per month bill for the used time period will be calculated and
    remaining amount will be refunded.
</p>
<p>
    2. No refund will be given after the license has been used for more than
    50% of the subscription time.
</p>
<p>
    3. Refund request should be raised via email or website.
</p>
<p>
    4. Refund policies will be applicable only for purchases equal to or more
    than 1 year.
</p>